%% -*- mode: erlang -*-
%% ----------------------------------------------------------------------------
%% RabbitMQ Sample Configuration File.
%%
%% See http://www.rabbitmq.com/configure.html for details.
%% ----------------------------------------------------------------------------
[
 {rabbit,
  [
   {tcp_listeners, [5801]}
  ]},

 {kernel,
  [
  ]},

 {rabbitmq_management,
  [
    {listener, [{port,     15801}]}
  ]},

 {rabbitmq_shovel,
  [{shovels,
    [
    ]}
  ]}
].
